body{
	  font-family:medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
p {
  margin-left: 20%;
  margin-right: 20%;
  color: black;




}
/* we need to add a breaking point for mobile*/
h2,h3,h5{
	margin-left: 20%;
  margin-right: 20%;
}
iframe{
	margin-left: 20%;
  margin-right: 20%;
}
h1 {
	text-align: center;
	margin-bottom: 30%;
	padding-top: 25%;
  	color: DarkRed;
  	font-size: 75px;
  	margin-bottom: 1000px;
	margin-top: -10%;
	margin-right: -10%


}
.googleMap{
	margin-left: 20%;
  margin-right: 20%;
}
.fade {

	background-image:url(img/vandalism.jpg);
	height: 1000px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom:10px;
	border:2px ;
	transition:all ease-out .5s 0s;

		}

.fade:nth-child(even){
	background-image:url(vagabond.jpg);
	height: 1000px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fade-ani{
	opacity:1;position:relative;
}


.fade-ani.showing{}
.fade-in.showing{opacity:0;}

.interview-member-title{
  font-size: 50px;
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}